<h1 class="h1-title">רשימת דיירים</h1>
<br>
<div *ngIf="isShow===true">
    <input type="text" placeholder="חיפוש דייר..." name="search" (keyup)="onKey($event)" style="min-width:250px"
        class="input-search" />
    <mat-icon class="icon-search">search</mat-icon>
    <br>
    <div *ngIf="listD1.length!=0">
        <table class="table">
            <thead>
                <tr *ngIf="dayarSer.dayar.IsHouseCommittee" class="th">
                    <th class="topic" *ngFor="let topic of topics"> {{topic}} </th>
                </tr>
                <tr *ngIf="!dayarSer.dayar.IsHouseCommittee" class="th">
                    <th class="topic" *ngFor="let topic2 of topics2"> {{topic2}} </th>
                </tr>

                <tr class="td" *ngFor="let Dayar of listD1">
                    <td *ngIf="dayarSer.dayar.IsHouseCommittee"><button (click)="edit(Dayar)">✍🏻</button></td>
                    <td *ngIf="dayarSer.dayar.IsHouseCommittee">₪{{Dayar.SumToMonth}}</td>
                    <td>{{Dayar.MailAddress}}</td>
                    <td>{{Dayar.Phone}}</td>
                    <td>דירה {{Dayar.NumFlat}}</td>
                    <td>{{Dayar.LastName}}</td>
                    <td *ngIf="!Dayar.FirstName">דירה - {{Dayar.NumFlat}}</td>
                    <td>{{Dayar.FirstName}}</td>

                </tr>
            </thead>
        </table>
    </div>
<div *ngIf="listD1.length==0">
    <table class="table"><!--[value]="listD" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
        currentPageReportTemplate="{totalRecords} מציג {first} עד {last} מתוך" [rowsPerPageOptions]="[8,16,50]"-->
        <thead>
            <tr *ngIf="dayarSer.dayar.IsHouseCommittee" class="th">
                <th class="topic" *ngFor="let topic of topics"> {{topic}} </th>
            </tr>
            <tr *ngIf="!dayarSer.dayar.IsHouseCommittee" class="th">
                <th class="topic" *ngFor="let topic2 of topics2"> {{topic2}} </th>
            </tr>

            <tr class="td" *ngFor="let Dayar of dayarSer.listD">
                <td *ngIf="dayarSer.dayar.IsHouseCommittee"><button (click)="edit(Dayar)">✍🏻</button></td>
                <td *ngIf="dayarSer.dayar.IsHouseCommittee">₪{{Dayar.SumToMonth}}</td>
                <td>{{Dayar.MailAddress}}</td>
                <td>{{Dayar.Phone}}</td>
                <td>דירה {{Dayar.NumFlat}}</td>
                <td>{{Dayar.LastName}}</td>
                <td *ngIf="!Dayar.FirstName">דירה - {{Dayar.NumFlat}}</td>
                <td *ngIf="Dayar.FirstName">{{Dayar.FirstName}}</td>

            </tr>
            
        </thead>
    </table>
    <!-- <p-paginator [rows]="4" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
    <p-paginator [rows]="4" [totalRecords]="100"></p-paginator> -->


<!--<p-table class="table" >
 <mat-paginator #paginator pageSize=6 showFirstLastButtons></mat-paginator> -->
</div>
</div>

<div *ngIf="isShow===false">
    <app-edit-dayar [dayar]="dayarToEdit" (onSave)="onMySave($event)"></app-edit-dayar>
</div>