
<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side" position="end" class="side-cont-admin">
      <mat-nav-list>
       
          <a mat-list-item  href="#">שלום   {{this.d.dayar.FirstName}} {{this.d.dayar.LastName}}</a>
          <mat-icon class="logout" (click)="logout();">login</mat-icon> 
     
        <!--כניסה לבניין-->     
        <a mat-list-item  *ngIf="dayarSer.dayar.BuildingId!=undefined && this.buildingSer.building.Street == undefined" href="#">{{this.buildingSer.buildingAddress.Street}}
          {{this.buildingSer.buildingAddress.NumBuilding}}
          {{this.city.CityName}}</a>
    
      <!--בהרשמה-->
    
      <a mat-list-item  *ngIf="dayarSer.dayar.BuildingId!=undefined && this.buildingSer.building.Street
      && this.buildingSer.city.CityName"
      href="#">{{this.buildingSer.building.Street}}
          {{this.buildingSer.building.NumBuilding}}
          {{this.buildingSer.city.CityName}}</a>  <hr>
          <a mat-list-item  routerLink="/headCommittee/deshbord"
         routerLinkActive="active_link">
              <mat-icon>dashboard</mat-icon> &nbsp;דשבורד
          </a>
          <a mat-list-item
          
          routerLink="/headCommittee/discourse-dayarim"
          
          routerLinkActive="active_link">
              <mat-icon>message</mat-icon> &nbsp;לוח הודעות דיגיטלי
          </a>

        
          <a mat-list-item routerLink="/headCommittee/list-dayarim" routerLinkActive="active_link">
              <mat-icon>wc</mat-icon> &nbsp;רשימת דיירים
          </a>
          <a mat-list-item  routerLink="/headCommittee/surveys" routerLinkActive="active_link">
              <mat-icon>star</mat-icon> &nbsp;סקרים
          </a>
          <a mat-list-item routerLink="/headCommittee/faults" routerLinkActive="active_link">
            <mat-icon>error</mat-icon> &nbsp;תקלות
        </a>
        <a mat-list-item  *ngIf="dayarSer.dayar.IsHouseCommittee" routerLink="/headCommittee/committee-payments" routerLinkActive="active_link">
          <mat-icon>payment</mat-icon> &nbsp;תזכורות לתשלומים
      </a>
      <a mat-list-item   routerLink="/headCommittee/bank-transfers" routerLinkActive="active_link">
        <mat-icon>money</mat-icon> &nbsp;פרטי בנק
    </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="bg"></div>
      <div  class="logo">
          
      </div>
      <div style="height: 94vh;">
         
          <div class="content-div">
              <router-outlet></router-outlet>
          </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
