<!--<p>committee-payments works!</p>
 <nav class="nav">
    <a routerLink="/headCommittee/monthlyPayment">תזכורת לתשלום חודשי</a>
    <a routerLink="/headCommittee/one-timePayment">תזכורת לתשלום חד פעמי</a>
    
    </nav> -->
<div class="form-wrapper">
  <h1>יצירת תזכורות לתשלום</h1>
  <br>
  <form>
    <div id="mySelectOptions">
      <label for="one">
        <mat-checkbox (change)="changeSelect(0)">כל הדיירים</mat-checkbox>
      </label>
    </div>
    <div class="dir-wrap">
      <div id="mySelectOptions" *ngFor="let Dayar of dayarSer.listD">
        <label for="one"><input type="checkbox" [(ngModel)]="Dayar.sendMail" name="asas"
            (change)="changeSelect(Dayar.DayarId)" value="one" />
          {{Dayar.FirstName}} {{Dayar.LastName}} &nbsp;|&nbsp; דירה מספר - {{Dayar.NumFlat}} <br></label>
      </div>
    </div>

    תשלום חודשי: <input type="radio" name="radio1" checked [value]="true" [(ngModel)]="paymentSer.radioB1"><br>
    תשלום חד פעמי:<input type="radio" name="radio1" [value]="false" [(ngModel)]="paymentSer.radioB1">
    <div *ngIf="!paymentSer.radioB1">
      <label for="paymentFor"> תשלום עבור:</label><br>
      <input type="text" class="input" id="paymentFor" name="for" [(ngModel)]="payFor"><br>
      <label for="sum"> סכום:</label><br>
      <input type="text" class="input" id="sum" name="sum" [(ngModel)]="sum"><br>
    </div><br><br>
    <button class="buttons" (click)="send()">שלח תזכורת לתשלום</button>

  </form>
</div>
<!-- <p-multiSelect [options]="cities" [(ngModel)]="selectedCities2" defaultLabel="Select a City" optionLabel="CityName"></p-multiSelect> -->