<!--<p>committee-payments works!</p>
 <nav class="nav">
    <a routerLink="/headCommittee/monthlyPayment">תזכורת לתשלום חודשי</a>
    <a routerLink="/headCommittee/one-timePayment">תזכורת לתשלום חד פעמי</a>
    
    </nav> -->
<div class="form-wrapper">
  <h1 class="h1-title">יצירת תזכורות לתשלום</h1>
  <!-- <label for="to">אל:</label><br> -->
  <form>
    <div id="mySelectOptions">
      <label for="one">
        <mat-checkbox (change)="changeSelect(0)">כל הדיירים</mat-checkbox>
      </label>
    </div>
    <div id="mySelectOptions" *ngFor="let Dayar of dayarSer.listD">
      <label for="one">
        <mat-checkbox [(ngModel)]="Dayar.sendMail" name="asas" (change)="changeSelect(Dayar.DayarId)" value="one">
          {{Dayar.FirstName}} {{Dayar.LastName}} &nbsp;|&nbsp; {{Dayar.NumFlat}} - דירה מספר </mat-checkbox>
      </label>
    </div>

    <label for="paymentFor"> תשלום עבור:</label><br>
    <input type="text" class="input" id="paymentFor"><br><br>

    <mat-radio-group   [ngModelOptions]="{standalone: true}"  [(ngModel)]="paymentSer.radioB1" class="example-radio-group">
      <mat-radio-button     class="example-margin" value="true"
     >תשלום חודשי</mat-radio-button>
      <mat-radio-button    class="example-margin" value="false"
      > תשלום חד פעמי</mat-radio-button>
    </mat-radio-group>


    <!-- תשלום חודשי: <input type="radio" name="radio1" checked [value]="true"
     [(ngModel)]="paymentSer.radioB1"><br> -->
    <!--במקרה שנבחר יציג את תיבת הטקסט הבאה-->
    <!-- <div *ngIf="paymentSer.radioB1">
        <p>תאריך</p>
      </div> -->
    <!-- תשלום חד פעמי:<input type="radio" name="radio1" [value]="false" [(ngModel)]="paymentSer.radioB1">
   -->
  
  
    <div *ngIf="paymentSer.radioB1 == 'false">
      <label for="sum"> סכום:</label><br>
      <input type="text" class="input" id="sum">
    </div><br><br>
    <button class="buttons" (click)="send()">שלח תזכורת לתשלום</button>

  </form>
</div>
<!-- <p-multiSelect [options]="cities" [(ngModel)]="selectedCities2" defaultLabel="Select a City" optionLabel="CityName"></p-multiSelect> -->