.nav {
  text-align: right;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  
}

.center {
  width: 80vw;
  text-align: center;
}

.img-slide-top {
  height: 100vh !important;
}

a {
  color: white !important;
}

.d-block {
  display: block;
}

h3 {
  color: grey;
}
.logo{
  position: absolute;
  top: 90px;
  right: 40px;
  width: 180px;
  background-size: cover;
  height: 115px;

}

p {
  font-size: 16px;
}
.d-flex{flex-flow: row-reverse;}