<div class="center form-wrapper">
  <h1>אשף יצירת בניין חדש</h1>
  <mat-icon class="icon-back" routerLink="/headCommittee/newCommittee">arrow_back_ios</mat-icon>
  <a routerLink="/headCommittee/creatingBuilding">הגדרת בניין </a> &nbsp;
  <!--<a routerLink="/headCommittee/dayarDetails" (click)="next()"> > פרטי דיירים > </a> -->
  <a routerLink="/headCommittee/bankAccount">חשבון בנק</a>
  <h3>כתובת הבניין</h3>
  <form>
    <div class="row-wrapper">
      <label for="city"> עיר</label>
      <select id="city" name="listOfCities" [(ngModel)]="building.CityId">
        <option value="0" disabled>בחר עיר</option>
        <option *ngFor="let city of listOfCities" [ngValue]="city.CityId"> {{city.CityName}}</option>
      </select>
    </div>

    <div class="row-wrapper">

      <label for="Street"> רחוב</label>
      <input class="input" #Street=ngModel id="Street" name="Street" type="string" required
        [(ngModel)]="building.Street" />
      <div [hidden]="Street.valid || Street.pristine">שדה חובה*</div>
    </div>

    <div class="row-wrapper">

      <label for="NumBuilding"> מספר בניין</label>
      <input class="input" #NumBuilding=ngModel id="NumBuilding" name="NumBuilding" type="number" required
        [(ngModel)]="building.NumBuilding" />
      <div [hidden]="NumBuilding.valid || NumBuilding.pristine">שדה חובה*</div>
    </div>



    <!-- <label for="entry"> כניסה</label><br/>
        <input class="input" #entry=ngModel id="entry" name="entry" type="string" required [(ngModel)]="building.entry"/> 
        
       <div [hidden]="entry.valid || entry.pristine">שדה חובה*</div>-->



    <h3>פרטי הבניין</h3>

    <div class="row-wrapper">

      <label for="Floors"> מספר קומות</label>
      <input class="input" #Floors="ngModel" id="Floors" name="Floors" type="number" required
        [(ngModel)]="building.Floors" />
      <div [hidden]="Floors.valid || Floors.pristine">שדה חובה*</div>
    </div>

    <div class="row-wrapper">

      <label for="Flats"> מספר דירות</label>
      <input class="input" #Flats="ngModel" id="Flats" name="Flats" type="number" required
        [(ngModel)]="buildingSer.numFlats" />
      <div [hidden]="Flats.valid || Flats.pristine">שדה חובה*</div>
    </div>




    <h3>תשלום לועד</h3>
    <div style="direction: ltr;">
      <label> ?תשלומי ועד הבית זהים בין הדיירים</label>
      <input type="radio" name="radio1" checked [value]="true" [(ngModel)]="buildingSer.radioB1">
    </div>
    
    <!--במקרה שנבחר יציג את תיבת הטקסט הבאה-->
    <div *ngIf="buildingSer.radioB1" class="row-wrapper">
      <label for="sum"> סכום חודשי</label>
      <input type="number" size="" class="input" [(ngModel)]="buildingSer.sumClali" name="sum">
    </div>
    <div style="direction: ltr;">
    תשלום לפי גודל דירה (עפ"י החלטת הועד)<input type="radio" name="radio1" [value]="false"
      [(ngModel)]="buildingSer.radioB1">
    </div>
  </form>
  <button class="buttons" (click)="next()">הבא</button><!-- routerLink="/headCommittee/dayarDetails"-->
</div>