<div class="form-wrapper">
  <mat-icon class="icon-back" (click)="back()">arrow_back_ios</mat-icon>
   
  <h1>יצירת סקר חדש</h1> <br>
  <form>
   
    <div class="row-wrapper">

      <label>שאלה</label>
      <input class="input" type="text" name="SubSurvey" required [(ngModel)]="survey.SubSurvey" />
    </div>
    <div class="row-wrapper">
      <label>סוג שאלה</label>
      <select class="input" name="Type" required [(ngModel)]="survey.Type">
        <option selected="true" [value]="null" disabled>בחר אפשרות</option>
        <option>בחירה ייחודית</option>
        <option>טקסט חופשי</option>
      </select>
    </div>


    <div *ngIf="survey.Type=='בחירה ייחודית'">
      <!--*ngIf="dayarSer.select"     [(ngModel)]="dayarSer.select"-->
      <div class="row-wrapper">
        <label>תשובה </label>
        <input class="input" type="string" name="Op1" required [(ngModel)]="survey.Op1" />
      </div>
      <div class="row-wrapper">
        <label>תשובה </label>

        <input class="input" type="string" name="Op2" required [(ngModel)]="survey.Op2" />
      </div>
      <mat-icon class="mat-add-small" (click)="addOp()">add</mat-icon>
      <!-- <button (click)="addOp()">➕</button><br><br> -->
      <div class="row-wrapper reverse" *ngIf="surveysSer.numOp >= 1"> <mat-icon class="mat-set" (click)="lessOp()">close</mat-icon><input class="input" type="string"
          name="Op3" required [(ngModel)]="survey.Op3" />    <label>תשובה </label> </div>
      <div class="row-wrapper reverse" *ngIf="surveysSer.numOp >=2"> <mat-icon class="mat-set" (click)="lessOp()">close</mat-icon><input class="input" type="string"
          name="Op4" required [(ngModel)]="survey.Op4" />    <label>תשובה </label> </div>
      <div class="row-wrapper reverse" *ngIf="surveysSer.numOp >=3"> <mat-icon class="mat-set" (click)="lessOp()">close</mat-icon><input class="input" type="string"
          name="Op5" required [(ngModel)]="survey.Op5" />    <label>תשובה </label> </div>
      <div class="row-wrapper reverse" *ngIf="surveysSer.numOp >=4"> <mat-icon class="mat-set" (click)="lessOp()">close</mat-icon><input class="input" type="string"
          name="Op6" required [(ngModel)]="survey.Op6" />    <label>תשובה </label> </div>

    </div> 
    <!-- <p> :בחר תאריך אחרון למענה הסקר </p><br>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="survey.EndDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br>
    <input type="number" [(ngModel)]="numDays"/>לאחר כמה ימים מהתאריך האחרון למענה, הסקר יעבור לרשימת סקרים ישנים?<br>
     -->
    <button class="buttons" (click)="saveSurvey()">שמור סקר</button>
  </form>

</div>