<h1 class="h1-title">סקרים</h1>
<!-- <button class="buttons">יצירת סקר
    חדש➕</button> -->
<mat-icon class="mat-add" *ngIf="dayarSer.dayar.IsHouseCommittee"
 routerLink="/headCommittee/creatingSurvey">add
</mat-icon>
<table *ngIf="surveysSer.listS.length > 0" class="table">
    <thead>
        <tr>
            <th><b>שם הסקר</b></th>
            <th><b>אנשים שענו</b></th>
            <th></th>
        </tr>
        <tr *ngFor="let survey of surveysSer.listS">
            <td>{{survey.SubSurvey}}</td>
            <td>ענו {{survey.NumAnswers}}</td>
            <!--{{surveysSer.surveysToEnter.NumAnswers}}-->
            <td>
                <mat-icon class="mat-set" routerLink="/headCommittee/results/{{survey.SurveyId}}">desktop_windows</mat-icon>
                <mat-icon class="mat-set" *ngIf="dayarSer.dayar.IsHouseCommittee" (click)="creat(survey)">mail_outline
                </mat-icon>
                <mat-icon class="mat-set" *ngIf="dayarSer.dayar.IsHouseCommittee"
                    (click)="deleteSurvey(survey.SurveyId,survey.BuildingId)">close</mat-icon>
                <mat-icon class="mat-set" *ngIf="dayarSer.dayar.IsHouseCommittee"
                    routerLink="/headCommittee/enterTheSurvey/{{survey.SurveyId}}">transit_enterexit</mat-icon>
                <mat-icon class="mat-set" *ngIf="!dayarSer.dayar.IsHouseCommittee"
                    routerLink="/dayar/enterTheSurvey/{{survey.SurveyId}}">transit_enterexit</mat-icon>




            </td>
        </tr>
    </thead>
</table>

<!--<div *ngIf="isShow==false">
    <app-enter-the-survey [survey]="surveysToEnter" (onSave)="onMySave($event)"></app-enter-the-survey>
</div>
(click)="enter(survey)"-->