

<header>
  <nav class="navbar navbar-expand-lg  fixed-top bg-danger shadow-lg p-3 mb-5 rounded opacity-75">
    <div class="container-fluid" style="direction: rtl">
      <div mdbCollapse class="collapse navbar-collapse" id="fixedNavbarExample">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">שלום   {{this.d.dayar.FirstName}} {{this.d.dayar.LastName}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutUs">אודותינו</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">יצירת קשר</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container mt-3">
  <!-- {{this.d.dayar.FirstName}}
  {{this.d.dayar.LastName}}<br> -->
  <div *ngIf="dayarSer.dayar.BuildingId!=undefined">{{this.buildingSer.buildingAddress.Street}}
    {{this.buildingSer.buildingAddress.NumBuilding}}<br>
    {{this.city.CityName}}</div>
    <ul class="nav flex-column">
      <li class="nav-item">
       <div class="logo"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/deshbord">לוח נתונים</a><!--deshbord-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/discourse-dayarim">לוח הודעות דיגיטלי</a><!--discourse-dayarim-->
      </li>
      <!--עם שינויים קלים-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/list-dayarim">רשימת דיירים</a><!--list-dayarim-->
      </li>
      <!--עם שינויים קלים-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/surveys">סקרים</a><!--surveys-->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/faults">תקלות</a><!--faults-->
      </li>
     <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/bank-transfers">פרטי בנק</a>
      </li> <!-- 
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/receipts">קבלות</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/expenses">הוצאות</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/dayar/documents">מסמכים</a>
      </li> -->
       <!--?עם שינויים קלים-->
      
     
    </ul>
  </div>
  <div class="bg"></div>
  <div style="height: 88vh">
     
      <div class="content-div">
          <router-outlet></router-outlet>
      </div>
  </div>

<!-- <router-outlet></router-outlet> -->